.titulo-seccion{
  width: 100%;

}

.titulo-boton-container{
  width: 170px;
}

.titulo-cliente{
  margin: 0;
}

.mat-success{
  color: white;
  background-color: #00775e;
}

.tabla-empresa{
  text-align: center;
}
