<div class="container d-flex flex-column align-items-center">
  <div class="container form-container mt-5">
    <form class="d-flex flex-column" [formGroup]="loginForm" (ngSubmit)="onSubmit()" autocomplete="off">
      <legend>Iniciar Sesión</legend>

      <mat-form-field appearance="outline">

        <mat-label for="nombreUsuario" class="form-label">Usuario</mat-label>
        <input matInput type="text" id="nombreUsuario" formControlName="nombreUsuario">
        <mat-icon matPrefix>account_circle</mat-icon>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label for="password" class="form-label">Password</mat-label>

          <button mat-icon-button matPrefix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
          <input matInput [type]="hide ? 'password' : 'text'" id="password" formControlName="password">
      </mat-form-field>


      <button mat-raised-button color="primary" type="submit" [disabled]="loginForm.invalid">Ingresar</button>
    </form>

    <div class="d-flex mt-5 justify-content-around">
      <p class="texto-registro align-self-center mb-0">No tenes cuenta? </p>
      <button type="button"  mat-raised-button color="accent" (click)="registroDialog()">Registrate!</button>

    </div>
    </div>
  </div>



