<div class="container d-flex flex-column align-items-center">
  <div class="container form-container mt-5">
    <form class="d-flex flex-column" [formGroup]="loginForm" (ngSubmit)="onSubmit()" autocomplete="off">
      <legend>Iniciar Sesión</legend>

      <mat-form-field appearance="outline">

        <mat-label for="nombreUsuario" class="form-label">Usuario</mat-label>
        <input matInput type="text" id="nombreUsuario" formControlName="nombreUsuario">
        <mat-icon matPrefix>account_circle</mat-icon>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label for="password" class="form-label">Password</mat-label>
        <input matInput type="password" id="password" formControlName="password">
        <mat-icon matPrefix>key</mat-icon>
      </mat-form-field>


      <button mat-raised-button color="primary" type="submit" [disabled]="loginForm.invalid">Ingresar</button>
    </form>
  </div>

  <button type="button" class="btn btn-secondary btn-registro m-3" data-bs-toggle="modal" data-bs-target="#registroForm">Registro</button>

</div>

<div class="modal fade" id="registroForm" tabindex="-1" aria-labelledby="registroFormLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="registroFormLabel">Registro</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="registracionForm" (ngSubmit)="onRegistrar()">

            <label for="nombre" class="col-form-label">Nombre</label>
            <input type="text" class="form-control" id="nombre" formControlName="nombre">


            <label for="apellido" class="col-form-label">Apellido</label>
            <input type="text" class="form-control" id="apellido" formControlName="apellido">


            <label for="nombreUsuario" class="col-form-label">Usuario</label>
            <input type="text" class="form-control" id="nombreUsuario" formControlName="nombreUsuario">


            <label for="email" class="col-form-label">Email</label>
            <input type="text" class="form-control" id="email" formControlName="email">


            <label for="password" class="col-form-label">Contraseña</label>
            <input type="password" class="form-control" id="password" formControlName="password">


          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="submit" [disabled]="registracionForm.invalid" class="btn btn-primary">Aceptar</button>
          </div>

        </form>
      </div>

    </div>
  </div>
</div>

