<h3 mat-dialog-title>{{titulo}}</h3>
<form [formGroup]="formulario" (ngSubmit)="onSubmit()" autocomplete="off">
<div mat-dialog-content class="d-flex flex-column" *ngFor="let campo of camposFormulario">

  <mat-form-field appearance="fill" *ngIf="!campo.type.includes('number') && !campo.key.includes('aplica') && !campo.key.includes('estado') && !campo.key.includes('tipo')">
    <mat-label>{{campo.label}}</mat-label>
    <input matInput type={{campo.type}} formControlName={{campo.key}}>
  </mat-form-field>

  <mat-form-field appearance="fill" *ngIf="campo.type.includes('number') && !campo.key.includes('dniOCuit')">
    <mat-label>{{campo.label}}</mat-label>
    <input matInput type={{campo.type}} formControlName={{campo.key}} min="0">
  </mat-form-field>

  <mat-form-field appearance="fill" *ngIf="campo.type.includes('number') && campo.key.includes('dniOCuit')">
    <mat-label>{{campo.label}}</mat-label>
    <input matInput type={{campo.type}} formControlName={{campo.key}} min="0" minlength="7"  maxlength="11">
  </mat-form-field>

  <!--<mat-form-field appearance="fill" *ngIf="campo.key.includes('descripcion')">
    <mat-label>{{campo.label}}</mat-label>
    <textarea matInput></textarea>
  </mat-form-field>-->

  <!--TODO:Arreglar cuando se habilitan los distintos campos, como paso las opciones al dropdown -->
  <mat-form-field appearance="fill" *ngIf="campo.key.includes('aplica') || campo.key.includes('estado') || campo.key.includes('tipo')">
    <mat-label>{{campo.label}}</mat-label>
    <mat-select formControlName={{campo.key}}>
      <mat-option *ngFor="let opcion of campo.options" [value]="opcion">
        {{opcion}}
      </mat-option>
    </mat-select>
  </mat-form-field>

</div>
<div mat-dialog-actions>
  <button mat-stroked-button mat-dialog-close color="primary">Cancelar</button>
  <button mat-stroked-button mat-dialog-close color="success" [disabled]="formulario.invalid" type="submit">Confirmar</button>
</div>
</form>
