<td></td>
<td>{{personaCliente.nombre}}</td>
<td>{{personaCliente.apellido}}</td>
<td>{{personaCliente.dniOCuit}}</td>


<td class="d-flex justify-content-around">
  <button type="button" class="btn btn-primary" (click)="onEdit(personaCliente)">Editar</button>
  <button type="button" class="btn btn-danger" (click)="onDelete(personaCliente)" *ngIf="router.url === '/cliente-persona'">Eliminar</button>
  <button type="button" mat-raised-button color="accent" (click)="onPedido(personaCliente.dniOCuit)" *ngIf="router.url === '/cliente-persona'">Realizar Pedido</button>


</td>

