<div class="d-flex flex-column container-fluid mx-0 seccion">
  <div class="d-flex container titulo-seccion align-items-center" *ngIf="router.url === '/productos'">
     <h1>Productos</h1>
     <div >
      <button type="button" class="btn btn-success" (click)="agregar()" >Agregar</button>
     </div>
  </div>
  <div class="container table-responsive">
    <table class="table align-middle tabla-productos">
      <thead class="table-light">
        <tr>
          <th>Producto</th>
          <th>Descripción</th>
          <th>Stock</th>
          <th>Precio</th>
          <th></th>
        </tr>
      </thead>

      <tbody>
        <tr app-producto-item *ngFor="let producto of listaProductos" [productoItem]="producto" (aceptoBorrar)="eliminar($event)" (productoEditado)="editar($event)">
        </tr>
      </tbody>



    </table>

  </div>
</div>
