<mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start">
  <mat-tab label="Productos">
    <app-producto></app-producto>
  </mat-tab>
  <mat-tab label="Servicios">
    <app-servicio></app-servicio>
  </mat-tab>

</mat-tab-group>

<div class="container">
  <h1>Pedido</h1>
</div>
<div class="container table-responsive">
  <table class="table align-middle tabla-pedido">
    <thead class="table-light">
      <tr>
        <th>Producto</th>
        <th>Precio</th>
        <th>Cantidad</th>
        <th>Años de Garantía</th>
        <th>Total impuestos</th>
        <th>Total adicionales</th>
        <th>Precio total unitario</th>
        <th *ngIf="rutaActual.includes('/editarPedido')"> Estado </th>
        <th>Descuento por serv. activo</th>
        <th>Total</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
       <tr app-item-pedido *ngFor="let item of listaItemsPedidos" [itemPedido]="item" (eliminarItem)="eliminar($event)">
      </tr>
    </tbody>

    <tfoot>
      <tr>
        <td>Total Pedido</td>
        <td>{{pedido.precioBase}}</td>
        <td></td>
        <td></td>
        <td>{{pedido.totalImpuestos}}</td>
        <td>{{pedido.totalAdicionales}}</td>
        <td></td>
        <td *ngIf="rutaActual.includes('/editarPedido')">  </td>
        <td>{{pedido.descuento}}</td>
        <td>{{pedido.total}}</td>
        <td>
          <button mat-raised-button color="warn" *ngIf="rutaActual.includes('editarPedido')">Cancelar</button>
          <button mat-raised-button color="primary" (click)="confirmarPedido()">Confirmar</button>
        </td>

      </tr>
    </tfoot>

  </table>

</div>


